@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
width: 100%;
position: fixed;
z-index: 999;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 200px;
}
.navigation  a{
text-decoration: none;
color: #000000;
text-transform: uppercase;
font-weight: 500;
font-size: 1.1em;
padding: 30px;
}
.navigation a:hover{
    color: #ff2c2c;
}
section{
    padding: 100px 200px;
}
.main{

    width:100%;
    min-height: 100vh;
    display: flex;
align-items: center;
background: url(Photo/daoud-abismail-E72PVn1qi30-unsplash.jpg)no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;

}
.main h2{
    color: rgb(255, 255, 255);
    font-size: 1.9em;
    font-weight: 600;
margin-top: 30px;
padding-top: 2.5%;
}
.main h1{
    display: inline-block;
    margin-top: 10px;
color: rgb(226,12,26);
font-size: 5em;
font-weight: 600;


}
.main h4{
color: #f0f0f0;
font-size: 3em;
font-weight: 700;
letter-spacing: 1px;
margin-top: 10px;
margin-bottom: 30px;


}
.main-btn{
    color: #f0f0f0;
    background-color:rgb(56, 54, 54);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
display: inline-block; 
padding: 0.9375em 2.1875em;
letter-spacing: 1px;
border-radius: 15px;   
margin-bottom: 40px;
transition: 0.7s ease;

}
.main-btn:hover{
    background-color: rgb(226,12,26);
    transform: scale(1.1);
}